#page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header form {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}
li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
